@import 'fonts.css';

html{
    box-sizing: border-box;
}

body{
    font-family: Nunito, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: #fff;
    color: #434343;
}

*, *::after, *::before {
    box-sizing: inherit;
}

button{
    font: inherit;
    cursor: pointer;
}

.header {
    padding: 13px 0;
    background-color: #296c82;
}

.header__container{
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title{
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main{
    padding: 60px 30px;
}

.main__title{
    font-weight: 300;
    font-size: 50px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 30px;    
}

.main__subtitle{
    font-weight: 300;
    font-size: 26px;
    text-align: center;
    margin-bottom: 60px;
}

.main__subtitle_result{
    margin-bottom: 40px;
}

.main__btn{
    min-width: 230px;
    height: 50px;
    padding: 0 24px;
    background-color: transparent;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
    outline: none;
    font-weight: 600;
    color: #296C82;
    display: block;
    margin: 0 auto;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease; 
}
.main__btn:hover{
    background-color: #296C82;
    color: #fff;
}

.main__box{
    margin: 0 auto;
    max-width: 800px;
    height: 540px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.selection{
    padding: 50px;
}

.selection__list{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
    scrollbar-color: rgba(140, 140, 140, 0.1);
    scrollbar-width: thin;
}

.selection__list::-webkit-scrollbar{
    width: 6px;

}
.selection__list::-webkit-scrollbar-thumb{
    background: rgba(140, 140, 140, 0.1);
    border-radius: 8px;
}

.selection__item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.selection__item:last-child{
    margin-bottom: 0;
}


.selection__theme{
    max-width: 520px;
    width: 100%;
    background: #F1F9FB;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    font-size: 22px;
    text-align: left;
    padding: 16px 20px;
    overflow: hidden;
    transition-property: background-color;
    transition-duration:  0.25s;
    transition-timing-function:  ease;
}


.selection__theme:hover{
    background-color: #e3f4f8;
}

.selection__theme:not(:last-child){
    margin-right: 20px;
}

.selection__result{
    /*max-width: 63px;*/
    width: min-content;
    text-align: center;
}

.selection__result-ratio{
    display: block;
    font-weight: 600;
    font-size: 22px;
    color: #296C82;
}

.selection__result-text{
    display: block;
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #8C8C8C;
}

.main__box_question{
    padding: 60px 120px;
    height: auto;
    min-height: 540px;
}

.main__form_question{
    position: relative;
}

.main__form_question::after{
    content: attr(data-count);
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 300;
    font-size: 18px;
    color: #8C8C8C;
}


.answer{
    position: relative;
    display: block;
    margin-bottom: 26px;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    padding-left: 65px;
 
}

.answer__checkbox{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    margin: 0 0 0 -65px;
    cursor: pointer;
}

.answer__checkbox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.answer__checkbox::after{
    content: '';
    position: absolute;
    top: 15px;
    left: 12px;
    height: 8px;
    width: 17px;
    border: 2px solid #434343;
    border-top: none;
    border-right: none;
    /*
    border-style: solid;
    border-color: #434343;
    border-width: 0 0 2px 2px;
    */
    transform: rotate(-45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.answer__checkbox:checked::after{
    opacity: 1;
}

.answer__checkbox:focus::before,
.answer__checkbox:hover::before{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}



.answer__radio{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    margin: 0 0 0 -65px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.answer__radio::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.answer__radio::after{
    content: '';
    position: relative;
    z-index: inherit;
    height: 14px;
    width: 14px;
    background-color: #434343;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.answer__radio:checked::after{
    opacity: 1;
}

.answer__radio:focus::before,
.answer__radio:hover::before{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.main__box_result{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.result__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.result__ratio{
    width: 127px;
    height: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8c8c8c;
    border-radius: 50%;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.result_ratio_1{
    background-color: #dc1c1c;
}
.result_ratio_2{
    background-color: #efcf24;
}
.result_ratio_3{
    background-color: #49f050;
}

.result__text{
    font-weight: 600;
    font-size: 18px;
}




@media (max-width: 1024px){
    .selection__list {
        padding-right: 30px;
    }
    .selection__theme{
        font-size: 20px;
    }    
}

@media (max-width: 768px){
    .header__container{
        padding: 0 20px;
    }
    .main{
        padding: 40px 20px;
    }
    .main__title{
        font-size: 34px;
    }
    .main__box{
        padding: 40px;
    }
    .selection__list{
        padding-right: 15px;
    }
    .selection__theme{
        font-size: 18px;
        padding: 10px 15px;
    }
    .selection__item{
        margin-bottom: 10px;
    }
    .selection__result{
        display: flex;
        align-items: center;
    }
    .selection__result-text{
        display: none;
    }
    .selection__theme:not(:last-child){
        margin-right: 15px;
    }
}
@media (max-width: 580px){
    .main__btn:not(.result__return){
        margin-left: 0;
        min-width: 100%;
    }
    .main__form_question::after{
        bottom: -30px;
    }
    .main__subtitle{
        font-size: 20px;
    }
    .main{
        padding: 30px 10px;
    }
    .main__box{
        padding: 15px;
        border-radius: 15px;
    }
    .selection__result-ratio{
        font-size: 18px;
    }
}